
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* styles pour le titre */
h1 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
}

/* styles pour le bouton */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
}

/* styles pour le tableau */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* styles pour les éléments du formulaire */
input[type=text] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

/* styles pour la liste d'étudiants */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}
